/*
 * jquery sDashboard (2.0)
 * Copyright 2012, Model N, Inc
 * Distributed under MIT license.
 * https://github.com/ModelN/sDashboard
 */

/*dashboard css*/
.sDashboard {
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;
	height: 100%;
	font-family : Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size : 13px;
	/*overflow: auto;*/
}

.sDashboard li {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	height: auto;
}

/*dashboard widget css*/
.sDashboardWidget {
	margin: 0 1em 1em 0;
	border: 1px solid #CBCBCB;
	background-color: #fff;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	transition: border-color 0.3s;
    min-height: 450px;
    min-width: 470px;
}

/* Fuente: http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .sDashboardWidget {
        min-height: 550px;
        min-width: 570px;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    .sDashboardWidget {
        min-height: 650px;
        min-width: 700px;
    }
}

.sDashboardWidget:hover {
	border: 1px solid #AFAFAF;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	transition: border-color 0.3s;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

/*dashboard widget header css*/
.sDashboardWidgetHeader {
	margin: 0.3em;
	padding: 2px 0.2em 2px 1em;
	cursor: move;
	border: 0;
	border-bottom: 1px solid #CBCBCB;
	color: #000;
	font-weight: bold;
    background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#DBDBDB));
	background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
}

/*dashboard widget content css*/
.sDashboardWidgetContent {
	margin: 0.3em;
	padding: 0.4em;
	/*height: 180px;*/
	overflow-x: hidden;
	overflow-y: auto;
}

.sDashboardWidgetContentMaximized {
	margin: 0.3em;
	padding: 0.4em;
	height: 90%;
}

/*for centering trick see  : http://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
.sDashboardWidgetContainerMaximized {
	z-index: 9999;
	position: fixed;
	width: 800px;
	height: 450px;
	left: 50%;
	top: 50%;
	margin-top: -225px;
	margin-left: -400px;
}



/*dashboard table widget css*/
.sDashboardTableView {
	width: 100%;
	height: 95%;
	overflow: auto;
}


.sDashboardTableView tbody tr:nth-child(odd)		{ background-color:#F5F5F5; }
.sDashboardTableView tbody tr:nth-child(even)		{ background-color:#FFFFFF; }

.sDashboardTableView tbody tr:nth-child(odd):hover,
.sDashboardTableView tbody tr:nth-child(even):hover
{
	background-color: #FCEFA1;
	cursor: pointer;
}


.dataTables_length, 
.dataTables_info{
	float:left;
}

.dataTables_filter,
.dataTables_paginate{
	float:right;
}


/*dashboard chart view css*/
.sDashboardChart {
	/*	width: 200px;
	 height: 180px;*/
	width: 100%;
	height: 95%;
	/*	cursor: pointer;*/
}

.sDashboardChartClickable {
	cursor: pointer;
}
.sDashboardChartSelectable {
	width: 100%;
	height: 95%;
	cursor: crosshair;
}

/*jquery sortable placeholder styles */
.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	/*height: 225px !important;
	width: 375px !important;*/
}
.ui-sortable-placeholder * {
	visibility: hidden;
}

li.ui-sortable-placeholder {
	background-color: #F1F1F1;
}

/*icons*/
.sDashboard-icon {
	margin: 0 5px 0 5px;
	float: right;
	background: url('icon-sprite.PNG') no-repeat;
	width: 20px;
	height: 20px;
}

.sDashboard-icon-fix {
	margin: 0 5px 0 5px;
	float: right;
	width: 20px;
	height: 20px;
}

.sDashboard-icon:hover {
	cursor: pointer;
}

.sDashboard-icon.sDashboard-circle-plus-icon {
	background-position: -2px -3px;
}
.sDashboard-icon.sDashboard-circle-minus-icon {
	background-position: -2px -29px;
}
.sDashboard-icon.sDashboard-circle-remove-icon {
	background-position: -2px -55px;
}

.sDashboard-icon.sDashboard-plus-icon {
	background-position: -3px -83px;
}
.sDashboard-icon.sDashboard-minus-icon {
	background-position: -2px -109px;
}
.sDashboard-icon.sDashboard-remove-icon {
	background-position: -3px -135px;
}


.sDashboard-icon.sDashboard-trash-icon {
	background-position: -4px -159px;
}
.sDashboard-icon.sDashboard-refresh-icon {
	background-position: -3px -186px;
}
.sDashboard-icon.sDashboard-maximize-icon {
	background-position: -2px -212px;
}

.sDashboard-icon.sDashboard-minimize-icon {
	background-position: -2px -236px;
}

/*clear fix*/

.sDashboard-clearfix:before, .sDashboard-clearfix:after {
	content: "";
	display: table;
}
.sDashboard-clearfix:after {
	clear: both;
}
.sDashboard-clearfix {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*overlay*/

/*.sDashboard-overlay {
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	width: 100%;
	z-index: 9998;
}*/
.sDashboard-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:9998;
    filter: alpha(opacity=50);
    opacity: 0.5;
}