.contenedorIndicador {
    font-family: 'Carrois Gothic', sans-serif;
}

.tituloIndicador {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.subtituloIndicador {
    font-weight: bold;
    text-align: center
}

.opcionesIndicador {
    
}

.graficoIndicador {
    
}

.pieIndicador {
    
}