/* http://tablestyler.com*/
.datagrid table
{
	border-collapse:collapse;
	text-align:left;
	width:100%;
}

.datagrid
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#fff;
	border:1px solid #069;
	border-radius:3px;
	display:inline-block;
	font:normal 12px/150% Arial, Helvetica, sans-serif;
	//overflow:auto;
}

.datagrid table td,.datagrid table th
{
	padding:3px 10px;
}

.datagrid table thead th
{
	background:0;
	background-color:#069;
	border-left:1px solid #0070A8;
    border-top: 0px !important;
    border-right: 0px !important;
	color:#FFF;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',endColorstr='#00557F');
	font-size:13px!important;
	font-weight:700;
}

.datagrid table thead th:first-child
{
	border:none;
}

.datagrid table tbody td
{
	border-left:1px solid #E1EEF4;
	color:#00557F;
	font-size:12px;
	font-weight:400;
}

.datagrid table tbody .alt td
{
	background:#E1EEf4;
	color:#00557F;
}

.datagrid table tbody td:first-child
{
	border-left:none;
}

.datagrid table tbody tr:last-child td
{
	border-bottom:none;
}

.datagrid table tfoot td div
{
	background:#E1EEf4;
	border-top:1px solid #069;
	padding:2px;
}

.datagrid table tfoot td
{
	font-size:12px;
	padding:0;
}

.datagrid table tfoot td ul
{
	list-style:none;
	margin:0;
	padding:0;
	text-align:right;
}

.datagrid table tfoot li
{
	display:inline;
}

.datagrid table tfoot li a
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:0;
	background-color:#069;
	border:1px solid #069;
	border-radius:3px;
	color:#FFF;
	display:inline-block;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',endColorstr='#00557F');
	margin:1px;
	padding:2px 8px;
	text-decoration:none;
}

.datagrid table tfoot ul.active,.datagrid table tfoot ul a:hover
{
	background:none;
	background-color:#069;
	border-color:#00557F;
	color:#FFF;
	text-decoration:none;
}